@use "./base" as *;

nav {
  height: 130px;
  background-color: $colour-primary;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  a {
    
    color: $color-background;
    text-decoration: none;
    text-transform: uppercase;
    &visited {
      color: $color-background;
      text-decoration: none;
    }
  }
}

main {
  padding: 50px;
  font-size: 20px;
  h1 {
    text-align: center;
    font-size: 70px;
    padding-bottom: 50px;
  }
#game__rules-container {
  display: grid;
  grid-gap: 100px;
  
  grid-template-columns: 1fr;
  justify-content: space-around;

  #game__rules--reference-text {
    max-width: 80%;
    text-align: justify;
    margin: auto;
    padding-top: 30px;
    ol {
      text-align: justify;
      list-style-position: inside;
      padding-left: 85px;
    }
  }

  #game__rules--video {
    iframe {
    max-width: 85%;
    margin: 0 auto !important;
    display: flex;
    align-self: center;
    justify-content: center;
    }
  }

  #game__rules--reference-chart {
    max-width: 80%;
    margin: auto;
  }
}

.game__game-board--rounds-input {
  background-color: $colour-secondary;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  border-bottom: black solid 1em;
  color: #fff;
  height: 5em;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 50px;
  font-weight: $font-weight-bold;
  text-align: center;
  color: $color-background;
  input {
    font-size: 20px;
    font-weight: $font-weight-bold;
    color: black;
  }
}

#game__game-board {
  background-color: $colour-primary;
  width: 100vw;
  margin-left: -50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  h3, 
  .game__display--choice, 
  .game__display--result {
    height: 3em;
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: $font-weight-bold;
    text-align: center;
    color: $color-background;
  }
  .game__display--choice {
    padding-top: 40px;
    color: $color-background;
  }
  .game__display--result {
    padding-top: 40px;
    color: $colour-secondary;
    font-size: 50px;
  }
}
.game__scores--container {
  background-color: red;
  background-color: $colour-secondary;
  width: 100vw;
  margin-left: -50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 30vh;
  font-size: 30px;
  padding-bottom: 36px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border-top: black solid 1em;
  p {
    display: flex;
    flex-direction: column;
    background-color: greem;
    span {
      font-size: 85px;
    }
  }

}
}